.vscode/**
.vscode-test/**
.claude/**
.git/**
.gitignore

src/**
test/**
out/test/**
dev/**
out/dev/**

**/*.map
tsconfig.json
.mocharc*

node_modules/**

models/**
*.sqlite3
*.sqlite3-*
drift-*.sqlite3

resources/drift-marketplace-icon.svg

**/.DS_Store
